# Dragon Real Estate-Price Prediction

In [1]:
import pandas as pd

In [2]:
housing=pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00,2.31,0,0.538,6.575,65.20,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.00,7.07,0,0.469,6.421,78.90,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.00,7.07,0,0.469,7.185,61.10,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.00,2.18,0,0.458,6.998,45.80,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.00,2.18,0,0.458,7.147,54.20,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null object
ZN         506 non-null object
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null object
DIS        506 non-null object
RAD        506 non-null int64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(8), int64(2), object(4)
memory usage: 55.5+ KB

In [5]:
housing['AGE'].value_counts()

100.00    43
97.90      4
95.40      4
87.90      4
98.80      4
          ..
8.40       1
58.00      1
77.80      1
65.40      1
54.40      1
Name: AGE, Length: 358, dtype: int64

In [6]:
housing.describe()

,INDUS,CHAS,NOX,RM,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.00000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,5.93915,0.069170,0.554695,6.284634,4.332016,408.237154,18.455534,356.674032,12.653063,22.532806
std,2.75991,0.253994,0.115878,0.702617,1.417166,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.01000,0.000000,0.385000,3.561000,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,3.66750,0.000000,0.449000,5.885500,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,6.41000,0.000000,0.538000,6.208500,4.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,8.10000,0.000000,0.624000,6.623500,5.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,9.90000,1.000000,0.871000,8.780000,8.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
%matplotlib inline

In [8]:
# For plotting histogram
# import matplotlib.pyplot as plt
# housing.hist(bins=50, figsize=(20, 40))

## Train Test Split

In [9]:
# For learning Purpose
# import numpy as np
# def split_train_test(data,test_ratio):
#     np.random.seed(42)
#     shuffled = np.random.permutation(len(data))
#     print(shuffled)
#     test_set_size = int(len(data)*test_ratio)
#     test_indices = shuffled[:test_set_size]
#     train_indices = shuffled[test_set_size:]
#     return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
train_set,test_set = split_train_test(housing,0.2)

[173 274 491  72 452  76 316 140 471 500 218   9 414  78 323 473 124 388
 195 448 271 278  30 501 421 474  79 454 210 497 172 320 375 362 467 153
   2 336 208  73 496 307 204  68  90 390  33  70 470   0  11 281  22 101
 268 485 442 290  84 245  63  55 229  18 351 209 395  82  39 456  46 481
 444 355  77 398 104 203 381 489  69 408 255 392 312 234 460 324  93 137
 176 417 131 346 365 132 371 412 436 411  86  75 477  15 332 423  19 325
 335  56 437 409 334 181 227 434 180  25 493 238 244 250 418 117  42 322
 347 182 155 280 126 329  31 113 148 432 338  57 194  24  17 298  66 211
 404  94 154 441  23 225 433 447   5 116  45  16 468 360   3 405 185  60
 110 321 265  29 262 478  26   7 492 108  37 157 472 118 114 175 192 272
 144 373 383 356 277 220 450 141 369  67 361 168 499 394 400 193 249 109
 420 145  92 152 222 304  83 248 165 163 199 231  74 311 455 253 119 284
 302 483 357 403 228 261 237 386 476  36 196 139 368 247 287 378  59 111
  89 266   6 364 503 341 158 150 177 397 184 318  10 384 103  81  38 317
 167 475 299 296 198 377 146 396 147 428 289 123 490  96 143 239 275  97
 353 122 183 202 246 484 301 354 410 399 286 125 305 223 422 219 129 424
 291 331 380 480 358 297 294 370 438 112 179 310 342 333 487 457 233 314
 164 136 197 258 232 115 120 352 224 406 340 127 285 415 107 374 449 133
 367  44 495  65 283  85 242 186 425 159  12  35  28 170 142 402 349 221
  95  51 240 376 382 178  41 440 391 206 282 254 416   4 256 453 100 226
 431 213 426 171  98 292 215  61  47  32 267 327 200 451  27 393 230 260
 288 162 429 138  62 135 128 482   8 326 469  64 300  14 156  40 379 465
 407 216 279 439 504 337 236 207 212 295 462 251 494 464 303 350 269 201
 161  43 217 401 190 309 259 105  53 389   1 446 488  49 419  80 205  34
 430 263 427 366  91 339 479  52 345 264 241  13 315  88 387 273 166 328
 498 134 306 486 319 243  54 363  50 461 174 445 189 502 463 187 169  58
  48 344 235 252  21 313 459 160 276 443 191 385 293 413 343 257 308 149
 130 151 359  99 372  87 458 330 214 466 121 505  20 188  71 106 270 348
 435 102]

In [11]:
print(f"Rows in train set:{len(train_set)}\n Rows in test set:{len(test_set)}\n")

Rows in train set:405
 Rows in test set:101